<%= render 'nav' %>

<div class="container no-padding">
  <div class="row no-padding user-info-row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 user-info">
      <h1 class="text-right"><%= @user.name %></h1>
      <h4 class="text-right"><%= @user.description%></h4>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.avatar.url(:medium), :class => "avatar" %>
    </div>
  </div>
  <div class="row photo-row">
      <% if @user.photos.any? %>
        <% @user.photos.order('created_at DESC').each do |photo| %>
        <div class="col-sm-4 picture-div">
          <%= link_to image_tag(photo.picture(:square)), user_photo_path(@user, photo) %>
          <p class="picture-description"><%= photo.description %></p>
          <p><%= link_to "Edit", edit_user_photo_path(photo.user, photo) %></p>
          <p><%= link_to "Delete", user_photo_path(@user, photo), :data => {:confirm => "Are you sure that you want to delete this picture", :method => "delete"} %></p>
        </div>
        <% end %>
        <% else %>
          <h3>You don't have any photos yet</h3>
        <% end %>


    </div>
  </div>
</div>
